.aboutContainer{
  display: flex;
}
.aboutTitle{
  top:51%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 12%;

}

@media screen and (max-width: 1300px) {
  .aboutTitle{
    left:8% !important;
    top:40% !important;
  }
  .first-ball{
    visibility: hidden;
    		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
  }
  .second-ball{
    visibility: hidden;
    /*CSS transitions*/
-o-transition-property: none !important;
-moz-transition-property: none !important;
-ms-transition-property: none !important;
-webkit-transition-property: none !important;
transition-property: none !important;
/*CSS transforms*/
-o-transform: none !important;
-moz-transform: none !important;
-ms-transform: none !important;
-webkit-transform: none !important;
transform: none !important;
/*CSS animations*/
-webkit-animation: none !important;
-moz-animation: none !important;
-o-animation: none !important;
-ms-animation: none !important;
animation: none !important;
  }
  .third-ball{
    visibility: hidden;
    /*CSS transitions*/
-o-transition-property: none !important;
-moz-transition-property: none !important;
-ms-transition-property: none !important;
-webkit-transition-property: none !important;
transition-property: none !important;
/*CSS transforms*/
-o-transform: none !important;
-moz-transform: none !important;
-ms-transform: none !important;
-webkit-transform: none !important;
transform: none !important;
/*CSS animations*/
-webkit-animation: none !important;
-moz-animation: none !important;
-o-animation: none !important;
-ms-animation: none !important;
animation: none !important;
  }
  p{
    margin-right: 20px;
  }

}
.animateForward1{
  position: relative;
  font-family: 'Lobster','cursive';
  text-align:left;
  font-size: 45px;
  line-height: 55px;
  font-weight: 70;
  transform: translateX(-40px);
  opacity: 0;
  animation: headerFadeIn 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background: linear-gradient(to right, #08FDD8 0%, #5669e7 30%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* transition:0.3s; */
}


.loading-animation {
  position:absolute;
  top:50%;
  left:80%;
    animation: fadeIn 2s 1;
  animation-timing-function: cubic-bezier(.7, 0, 1, 1);
}

.first-ball, .second-ball, .third-ball{
  top:-50px;
  left:-150px;
  position:absolute;
  background:#08FDD8;
  width:30px;
  height:30px;
  border-radius:50%;
     animation:horizontal 2s infinite, vertical 1s infinite, color 3s infinite;
animation-timing-function: cubic-bezier(0.3, 0, 0.7, 1), ease-in-out;
    animation-delay: 0s, .25s;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.second-ball {
   animation-delay:0.2s, 0.45s;
    opacity:0.7;
}
.third-ball {
  animation-delay:0.4s, 0.65s;
    opacity:0.5;
}


@keyframes horizontal {
  0% {
    left:-150px;
  }
  50% {
    left:150px;
  }
  100% {
    left:-150px;
  }
}

@keyframes vertical {
  0% {
    top:-50px;
  }
  50% {
    top:50px;
  }
  100% {
    top:-50px;
  }
}


@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes color {
  50% {
    background:#5669e7;
  }
}
